@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/itc/Gotham-Light.eot');
  src: url('../fonts/itc/Gotham-Light.woff') format('woff'),
  url('../fonts/itc/Gotham-Light.svg#Gotham-Light') format('svg');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/itc/Gotham-Medium.eot');
  src: url('../fonts/itc/Gotham-Medium.woff') format('woff'),
  url('../fonts/itc/Gotham-Medium.svg#Gotham-Medium') format('svg');
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/itc/Gotham-Book.eot');
  src: url('../fonts/itc/Gotham-Book.woff') format('woff'),
  url('../fonts/itc/Gotham-Book.svg#Gotham-Book') format('svg');
}

//|Raleway:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lobster:400,700);
